In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,El Estor,GT,2022-04-03 21:56:48,15.5333,-89.3500,90.88,44,20,5.30
1,1,Fortuna,US,2022-04-03 21:56:49,40.5982,-124.1573,59.94,65,0,17.27
2,2,Ushuaia,AR,2022-04-03 21:55:35,-54.8000,-68.3000,38.86,87,75,20.71
3,3,Port Lincoln,AU,2022-04-03 21:56:09,-34.7333,135.8667,59.77,81,2,2.95
4,4,Roald,NO,2022-04-03 21:56:49,62.5833,6.1333,38.75,100,100,4.61

In [3]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Marsh Harbour,BS,2022-04-03 21:56:50,26.5412,-77.0636,76.48,75,35,15.95
8,8,Vaini,TO,2022-04-03 21:56:50,-21.2000,-175.2000,75.36,94,75,5.75
9,9,Acapulco,MX,2022-04-03 21:52:33,16.8634,-99.8901,83.93,55,19,11.27
12,12,Tautira,PF,2022-04-03 21:56:51,-17.7333,-149.1500,82.08,75,33,14.14
21,21,Rikitea,PF,2022-04-03 21:56:54,-23.1203,-134.9692,76.80,67,58,10.07
34,34,Loandjili,CG,2022-04-03 21:56:58,-4.7561,11.8578,78.03,91,46,4.27
35,35,Maine-Soroa,NE,2022-04-03 21:56:58,13.2114,12.0241,86.34,7,63,6.46
37,37,Adrar,MR,2022-04-03 21:56:59,20.5022,-10.0711,78.26,11,0,12.17
40,40,Grand Gaube,MU,2022-04-03 21:56:59,-20.0064,57.6608,79.38,82,24,5.99
41,41,Neiafu,TO,2022-04-03 21:57:00,-18.6500,-173.9833,83.08,74,75,8.05

In [14]:
preferred_cities_df.count()

City_ID       159
City          159
Country       159
Date          159
Lat           159
Lng           159
Max Temp      159
Humidity      159
Cloudiness    159
Wind Speed    159
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
6   Marsh Harbour      BS     76.48  26.5412  -77.0636
8           Vaini      TO     75.36 -21.2000 -175.2000
9        Acapulco      MX     83.93  16.8634  -99.8901
12        Tautira      PF     82.08 -17.7333 -149.1500
21        Rikitea      PF     76.80 -23.1203 -134.9692
34      Loandjili      CG     78.03  -4.7561   11.8578
35    Maine-Soroa      NE     86.34  13.2114   12.0241
37          Adrar      MR     78.26  20.5022  -10.0711
40    Grand Gaube      MU     79.38 -20.0064   57.6608
41         Neiafu      TO     83.08 -18.6500 -173.9833

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Marsh Harbour,BS,76.48,26.5412,-77.0636,Abaco Beach Resort
8,Vaini,TO,75.36,-21.2000,-175.2000,Keleti Beach Resort
9,Acapulco,MX,83.93,16.8634,-99.8901,HS Hotsson Smart Acapulco
12,Tautira,PF,82.08,-17.7333,-149.1500,Pension Oaoa
21,Rikitea,PF,76.80,-23.1203,-134.9692,People ThankYou
34,Loandjili,CG,78.03,-4.7561,11.8578,Résidence ARCHANGE
35,Maine-Soroa,NE,86.34,13.2114,12.0241,Complexe
37,Adrar,MR,78.26,20.5022,-10.0711,
40,Grand Gaube,MU,79.38,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
41,Neiafu,TO,83.08,-18.6500,-173.9833,Mystic Sands Beachfront Accommodation

In [18]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))